{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

<div class="container py-4">
    <div class="card p-4 mx-auto">
        <h2>Dashboard</h2>
        <h4>Welcome to Your Account Dashboard, <strong>{{ current_user.email }}</strong>!</h4>
        <p class="mt-4">Your <strong>Debit Account</strong> balance is <strong>{{debit_result}}</strong></p>
        <p>Your <strong>Credit Account</strong> balance is <strong>{{credit_result}}</strong></p>
    </div>
</div>
{% endblock %}